<html>
    <title>{Blue/Green} Application</title>
    <body style="background-color: {{ bg_color }}">
        <h1>{Blue/Green} Application</h1>
        <h2>It is on nginx</h2>
    <img src="https://www.pngkey.com/detail/u2q8u2u2a9w7e6t4_computer-logo-mobile-app-application-icon-png-transparent/" alt="Its a blue-green application" width="500" height="600">
    </body>
</html>