<html>
    <title>Blue/green Application</title>
    <body style="background-color: {{ bg_color }}">
        <h1>Blue/green Application</h1>
        <h2>It is on nginx</h2>
        
    </body>
</html>