<html>
    <title> Blue/Green Deployment </title>
    <body style="background-color: {{ bg_color }}">
        <h1> Group_3 web server </h1>
        <p> Successfully running on nginx</p>
        
    </body>
</html>